:root{
    --color-verde:#4c5c3b;
}
body{
    background-color: #7fff00;
    width: 1000px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.C1, .C2, .C3{
    width: 200px;
    height: 200px;
    overflow:scroll;
    border: 3px solid sienna;
}

.C1{
    background-color: #5233a7;
    margin: 50px;
}
.C2{
    background-color: var(--color-verde);
    padding: 30px;}
.C3{
    background-color: #ff7300;
    outline-offset: 20px;
}
